{{>nav}}
    <div class="container h-100">
        {{#if error}}
            <div class="alert alert-danger w-25 mx-auto d-block mt-2"> {{error}}</div>
        {{/if}}
         {{#if successMsg}}
            <div class="alert alert-success w-25 mx-auto d-block mt-2"> {{successMsg}}
                 <br><span class="text-warning"><strong>Activation Mail Send to your email
        aadress</strong></span>
        </div>
          
        {{/if}}
        <div class="d-flex justify-content-center mt-4 h-100">
            <div class="user_card1 bg-white">
                <div class="d-flex justify-content-center ">
                    <div class="brand_logo_container bg-warning">
                        <img src="./pizza_logo.png"
                            class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="p-3 justify-content-center form_container ">
                    
                         <form action="/postRegister"  method="post">
                            <h2 class="text-center">Register Here..</h2>
                            <div class="mb-3">
                                <label>UserName</label>
                                <input type="text" name="uname" class="form-control input_user" value=""
                                    placeholder="username">
                                    {{#if nameErr}}
                                    <p class="text-danger font-weight-bold">{{nameErr}}</p>
                                    {{/if}}
                            </div>
                            <div class="mb-3">
                                <label>Email</label>
                                <input type="email" name="email" class="form-control input_user" value=""
                                    placeholder="email" >
                                    {{#if emailErr}}
                                    <p class="text-danger font-weight-bold">{{emailErr}}</p>
                                    {{/if}}
                            </div>
                            <div class="mb-2">
                                <label>Password</label>
                                <input type="password" name="password" class="form-control input_pass" placeholder="password">
                                {{#if passErr}}
                                    <p class="text-danger font-weight-bold">{{passErr}}</p>
                                    {{/if}}
                            </div>
                            <div class="mb-3">
                                <label>Mobile</label>
                                <input type="text" name="mobile" class="form-control input_user" value=""
                                    placeholder="Mobile Number">
                                    {{#if mobileErr}}
                                    <p class="text-danger font-weight-bold">{{mobileErr}}</p>
                                    {{/if}}
                            </div>
                            <div class="mb-3">
                                <label>Address</label>
                                <textarea name="address" id="" class="form-control"></textarea>
                                    {{#if addressErr}}
                                    <p class="text-danger font-weight-bold">{{addressErr}}</p>
                                    {{/if}}
                            </div>
                           

                            <div class="d-flex justify-content-center mt-3 login_container">
                               <input type="submit" value="Submit" class="btn login_btn"/>
                           </div>
                            </form>
                </div>

                <div class="mt-1 mb-4">
                    <div class="d-flex justify-content-center links">
                        Already have an account? <a href="/login" class="ml-2 text-decoration-none">Sign in</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>